@model GitHubApp.Models.GHRepo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GHRepo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.private)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.private)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.html_url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.html_url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pushed_at)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pushed_at)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stargazers_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stargazers_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.watchers_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.watchers_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.owner.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
